body {
  background-color: lightgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.well {
  background-color: inherit;
  font-family: inherit;
  margin-top: 35px;
  font-size: smaller;
  border: none;
}
/* .overlay {

}

img:hover .overlay{
  width: 100%;
} */

#bender {
  float: left;
  width: 300px;
}

#rogers {
  float: right;
  width: 300px;
}

.result {
  display: none;
  margin-top: 25 px;
  font-weight: bold;
  font-family: inherit;
}

.page-header {
  text-align: center;
  background-color: inherit;
  font-family: inherit;
}