.page-header {
  text-align: center;
  background-color: inherit;
  font-family: inherit;
}

#bender {
  float: left;
  width: 300px;
}

#rogers {
  float: right;
  width: 300px;
}

body {
  background-color: lightgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.well {
  background-color: inherit;
  font-family: inherit;
  margin-top: 35px;
  border: none;
}

blockquote p {
  font-size: 0.7em !important;
}

.result {
  display: none;
  padding-top: 25 px;
  font-weight: bold;
  font-family: inherit;
}